*, *::after, *::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.absent {
    color: white;
    background-color: grey;
}

.absent:active {
    background-color: dimgrey;
}

.present {
    color: white;
    background-color: goldenrod;
}

.present:active {
    background-color: darkgoldenrod;
}

.correct {
    color: white;
    background-color: limegreen;
}

.correct:active {
    background-color: forestgreen;
}

.field {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 5px;
    margin: auto;
}

.field-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.letterbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 300ms ease-out, transform 200ms linear;
}

.letterbox.blank {
    background-color: white;
    border: 2px solid lightgrey;
}

.letterbox.focus {
    color: black;
    background-color: white;
    border: 2px solid dimgrey;
}

.letterbox.raised {
    transform: translateY(-15px);
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    flex: 0 1 45px;
    height: 60px;
    padding: 0;
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease-out;
    touch-action: manipulation;
}

.key.blank {
    color: black;
    background-color: lightgrey;
}

.key.control {
    flex: 0 1 70px;
    color: black;
    background-color: lightgrey;
    font-size: 18px;
}

.key:hover {
    box-shadow: 0 0 2px darkgrey;
}

.key.blank:active, .key.control:active {
    background-color: silver;
}

.key:focus {
    outline: none;
    box-shadow: none;
}
